# Solve the following questions without using decision statements (e.g. if) or loops (e.g. for).

In [1]:
#Verify if a value is an integer
a=2

In [2]:
type(a)

int

In [3]:
#Verify if a value is even

In [4]:
a=3

In [5]:
a%2==0 #resto da divisão tem de ser igual a 0

False

In [6]:
#Insert two numbers. Is the first is bigger than the second?

In [7]:
num1 = input("primeiro número")

primeiro número2

In [8]:
type(num1)

str

In [9]:
num1 = int(num1)

In [10]:
num2 = int(input("segundo número"))

segundo número3

In [11]:
num1 > num2

False

In [12]:
#Verify if one value is multiple of another

In [13]:
val1 = int(input("Primeiro valor "))

Primeiro valor 1

In [14]:
val2 = int(input("Segundo valor "))

Segundo valor 2

In [15]:
val1 % val2 == 0 #o resto da divisão de um número pelo outro é zero

False

In [16]:
#Calculate the interest earn by an investor that invested an amount of capital of 200 during three years with an interest rate of 3%.
#(I= P*R*T)

In [17]:
price=200
rate=0.03
time=3
interest=price*rate*time

In [18]:
interest

18.0

In [19]:
#Capital that an investor obtained after investing an amount of capital of 200 during three years with an interest rate of 3%. (Compound interest)

In [20]:
price1=200
rate1=0.03
time1=3
capital=price1*((1+rate1)**time1)

In [21]:
capital

218.5454

In [22]:
#Calculate your BMI (Body Mass Index)
#BMI=mass(kg)/height^2(m)

In [23]:
mass=83
height=1.84
BMI=mass/(height**2)

In [24]:
BMI

24.515595463137995

In [25]:
#Calculate the Golden ration
#gr=(1+(5**(1/2)))/2
#1. Solve the problem without using libraries
#2. Use module math (import math) and function sqr (math.sqrt)

In [26]:
#1.

In [67]:
gr=(1+(5**(1/2)))/2
print(gr)

1.618033988749895

In [69]:
#2.

In [70]:
import math
gr=(1 + math.sqrt(5))/2
print(gr)

1.618033988749895

In [33]:
#Calculate the NPV (Net present value) of an investment, considering an initial investment of 10000, the following
#Cashflows 2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.

In [78]:
CF1=2000
CF2=3000
CF3=4000
CF4=4000
CF5=5000
i=10000
k=0.1

In [79]:
npv = ((CF1/(1+k)**1)+(CF2/(1+k)**2)+(CF3/(1+k)**3)+(CF4/(1+k)**4)+(CF5/(1+k)**5))-i

In [80]:
npv

3139.440301519393

In [81]:
#Ask the user to insert name and age. Calculate the birth year. Print a result saying the 'this person was born in.'
#1. Solve the problem without using modules and libraries
#2. Solve the problem using the date library from module datetime, as fallow:

In [82]:
#1.

In [83]:
name=input("Nome: ")

Nome: Diogo

In [84]:
age=int(input("Idade: "))

Idade: 21

In [85]:
year = 2020 - age

In [86]:
year

1999

In [87]:
print(name+" was born in "+str(year))

Diogo was born in 1999

In [88]:
#2

In [89]:
from datetime import date
today = date.today()
today.year
byear = today.year - age

In [90]:
byear

1999

In [50]:
print(name+" was born in "+str(byear))

Diogo was born in 1999

In [51]:
#Ask the user to insert forenames, surnames. Create a new variable (name) with your complete name.

In [52]:
forenames=input("Forenames: ")

Forenames: Diogo Alexandre

In [53]:
surnames=input("Surnames: ")

Surnames: Sousa Almeida

In [54]:
fullname=(forenames + " " + surnames)

In [55]:
print(fullname)

Diogo Alexandre Sousa Almeida

In [56]:
fullnameBig=fullname.upper()

In [57]:
fullnameBig

'DIOGO ALEXANDRE SOUSA ALMEIDA'

In [58]:
fullnameTitle=fullname.title()

In [59]:
fullnameTitle

'Diogo Alexandre Sousa Almeida'

In [60]:
fullnameSmall=fullname.lower()

In [61]:
fullnameSmall

'diogo alexandre sousa almeida'

In [62]:
fullnameCapitalize=fullname.capitalize()

In [63]:
fullnameCapitalize

'Diogo alexandre sousa almeida'

In [64]:
#Use the following method to show in which character appears the first "da"

In [65]:
fullname.find("da")

27

In [66]:
#What happens if the content of sub is not found in str?
str(fullname.find("da"))

'27'